# Mail - example values

MAIL_RELAY_HOST=mail.example.com
MAIL_PORT=587

# smtp auth method: on,off,login...
MAIL_AUTH_METHOD=login

# set tls on, off
MAIL_TLS=on

# set starttls on, of
MAIL_STARTTLS=on

MAIL_USER=backup-user
MAIL_FROM=backup-user@example.com
MAIL_TO=recipient@example.com
MAIL_SUBJECT=Borgmatic Backup
MAIL_PASSWORD=s3cret
