---
name: 'Build Docker Images :$version'

on:
  push:
    tags:
      - '*'

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Prepare Base Build Metadata | DockerHub
        id: meta_base_dockerhub
        uses: docker/metadata-action@v4
        with:
          images: |
            ${{ secrets.DOCKER_USERNAME }}/borgmatic
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            # set latest tag for default branch
            type=raw,value=latest,enable={{is_default_branch}}

      - name: Prepare Base Build Metadata | GHCR
        id: meta_base_ghcr
        uses: docker/metadata-action@v4
        with:
          images: |
            ghcr.io/borgmatic-collective/borgmatic
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            # set latest tag for default branch
            type=raw,value=latest,enable={{is_default_branch}}

      - name: Prepare MSMTP Build Metadata | DockerHub
        id: meta_msmtp_dockerhub
        uses: docker/metadata-action@v4
        with:
          images: |
            ${{ secrets.DOCKER_USERNAME }}/borgmatic
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern=msmtp-{{version}}
            type=semver,pattern=msmtp-{{major}}.{{minor}}
            # set latest tag for default branch
            type=raw,value=latest-msmtp,enable={{is_default_branch}}

      - name: Prepare MSMTP Build Metadata | GHCR
        id: meta_msmtp_ghcr
        uses: docker/metadata-action@v4
        with:
          images: |
            ghcr.io/borgmatic-collective/borgmatic
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern=msmtp-{{version}}
            type=semver,pattern=msmtp-{{major}}.{{minor}}
            # set latest tag for default branch
            type=raw,value=latest-msmtp,enable={{is_default_branch}}

      - name: Prepare NTFY Build Metadata | DockerHub
        id: meta_ntfy_dockerhub
        uses: docker/metadata-action@v4
        with:
          images: |
            ${{ secrets.DOCKER_USERNAME }}/borgmatic
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern=ntfy-{{version}}
            type=semver,pattern=ntfy-{{major}}.{{minor}}
            # set latest tag for default branch
            type=raw,value=latest-ntfy,enable={{is_default_branch}}

      - name: Prepare NTFY Build Metadata | GHCR
        id: meta_ntfy_ghcr
        uses: docker/metadata-action@v4
        with:
          images: |
            ghcr.io/borgmatic-collective/borgmatic
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern=ntfy-{{version}}
            type=semver,pattern=ntfy-{{major}}.{{minor}}
            # set latest tag for default branch
            type=raw,value=latest-ntfy,enable={{is_default_branch}}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@master
        with:
          platforms: all

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@master

      - name: Login to DockerHub
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Login to GitHub Container Registry
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build base
        uses: docker/build-push-action@v3
        with:
          builder: ${{ steps.buildx.outputs.name }}
          context: ./base
          file: ./base/Dockerfile
          platforms: linux/amd64,linux/arm64,linux/arm/v6,linux/arm/v7
          push: true
          tags: |
            ${{ steps.meta_base_dockerhub.outputs.tags }}
            ${{ steps.meta_base_ghcr.outputs.tags }}

      - name: Build msmtp
        uses: docker/build-push-action@v3
        with:
          builder: ${{ steps.buildx.outputs.name }}
          context: ./msmtp
          file: ./msmtp/Dockerfile
          platforms: linux/amd64,linux/arm64,linux/arm/v6,linux/arm/v7
          push: true
          tags: |
            ${{ steps.meta_msmtp_dockerhub.outputs.tags }}
            ${{ steps.meta_msmtp_ghcr.outputs.tags }}

      - name: Build ntfy
        uses: docker/build-push-action@v3
        with:
          builder: ${{ steps.buildx.outputs.name }}
          context: ./ntfy
          file: ./ntfy/Dockerfile
          platforms: linux/amd64,linux/arm64,linux/arm/v6,linux/arm/v7
          push: true
          tags: |
            ${{ steps.meta_ntfy_dockerhub.outputs.tags }}
            ${{ steps.meta_ntfy_ghcr.outputs.tags }}
